body {
	background-color: #000;
	margin: 0;
	font-family: Sans-Serif;
	font-size: medium;
}

body a {
	color: #a79532;
	text-decoration: none;
}

body a:hover {
	text-decoration: underline;
}

body a:active {
	text-decoration: underline;
}

.logo {
	width: 575px;
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.logo img {
	width: 575px;
	height: 575px;
}

div.discord {
	margin: 0 auto;
	width: 350px;
	height: 250px;
	margin-bottom: 14px;
}

iframe.discord {
	width: 100%;
	height: 100%;
	border: none;
}

div.links ul {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
 }

div.links ul li :before {
	color: #a79532;
	content: "\0BB \020";
 }

#tabs_wrapper {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}

#tabs_container {
	border-bottom: 1px solid #a79532;
}

#tabs {
	list-style: none;
	padding: 5px 0 2px 0;
	margin: 0 0 0 0px;
	font: 1em Sans-Serif;
}

#tabs li {
	display: inline;
}

#tabs li a {
	color: #000000;
	border: 1px solid #a79532;
	padding: 3px 2px;
	text-decoration: none;
	background-color: #a79532;
	border-bottom: none;
	outline: none;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

#tabs li a:hover {
	border: 1px solid #E0D698;
	border-bottom: none;
	background-color: #E0D698;
}

#tabs li.active a {
	border: 1px solid #E0D698;
	border-bottom: none;
	background-color: #E0D698;
}

#tabs li.active a:hover {
}

#tabs_content_container {
	width: 340px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #a79532;
	border-top: none;
	padding: 1px 4px;
	margin-bottom: 25px;
}

.tab_content {
	display: none;
}

div.copyright {
width: 100%;
padding-bottom: 10px;
color: #999999;
text-align: center;
}

/* Phone Portrait (smaller than logo) */
@media screen and (max-width: 576px) {

	body {
		font-size: small;
	}

	.logo {
		width: 350px;
	}

	.logo img {
		width: 350px;
		height: 350px;
	}

}