body {
	background-color: #000;
	margin: 0;
	font-family: Sans-Serif;
}

body a {
	color: #666666;
	text-decoration: none;
}

body a:hover {
	text-decoration: underline;
}

body a:active {
	text-decoration: underline;
}

div.discord {
	margin: 0 auto;
	width: 350px;
	height: 250px;
}

iframe.discord {
	width: 100%;
	height: 100%;
	border: none;
}

.logo {
	width: 575px;
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

.logo img {
	width: 575px;
	height: 575px;
}

.copyright {
	width: 100%;
	margin: 20px 0px;
	color: #999999;
	text-align: center;
}

/* Phone Portrait (smaller than logo) */
@media screen and (max-width: 576px) {

	.logo {
		width: 350px;
	}

	.logo img {
		width: 350px;
		height: 350px;
	}

}